<h2>About Me</h2>
<p>I use cutting-edge analytics and visualization to create insight from data.</p>

<h2>Skills</h2>
<ul>
  <li>Research design</li>
  <li>Programming</li>
  <li>Business Intelligence</li>
</ul>

<p>To see my work, check out my <a href="https://scholar.google.com/citations?hl=en&user=wfn0gRYAAAAJ&view_op=list_works">publications</a>
or <a href="https://waltscienceblog.github.io">side projects</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/waltscience">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:cwalte12@mail.wvu.edu">Email</a>
  </li>
</ul>
