<h2>About Me</h2>
<p>I use .</p>

<h2>Features</h2>
<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>

<p>For more information, check out my <a href="https://scholar.google.com/citations?hl=en&user=wfn0gRYAAAAJ&view_op=list_works">publications</a>
or <a href="https://github.com/waltscienceblog">side projects</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/waltscience">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:cwalte12@mail.wvu.edu">Email</a>
  </li>
</ul>
