<h2>About Me</h2>
<p>I use cutting-edge analytics and visualization to create insight from data.</p>

<h2>Skills</h2>
<ul>
  <li>Statistical and ML analysis</li>
  <li>Experimental design and data wrangling</li>
  <li>Project management and leadership</li>
</ul>

<p>To see my work, check out my <a href="https://scholar.google.com/citations?hl=en&user=wfn0gRYAAAAJ&view_op=list_works" target="_blank" rel="noopener noreferrer">publications</a>
or <a href="https://waltscienceblog.github.io" target="_blank" rel="noopener noreferrer">side projects</a>. To contact me, please choose an option below.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://linkedin.com/in/chrisalanwalter" target="_blank" rel="noopener noreferrer">Linkedin</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon" target="_blank" rel="noopener noreferrer"></span>
    <a href="https://github.com/waltscience">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:cwalte12@mail.wvu.edu">Email</a>
  </li>
</ul>
